# Database
db.json
database.json
*.db
*.sqlite
res/
img/
imgs/
image/
images/

# 非公开的组件
# hoshino/modules/deepchat/
hoshino/modules/pcrclanbattle/clanbattlev3
hoshino/modules/pcrclanbattle/_clanbattlev4
hoshino/modules/pcrclanbattle/clanbattlev4
hoshino/modules/umamusume

# 暂时删除的代码
TRASH/
kokkoro-OLD/

# VSCode Folder
.vscode/
.idea/
log/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class