Quart==0.17.0
MarkupSafe>=2.1.1
Jinja2>=3.0.0
werkzeug==2.0.3
wsproto>=1.0.0
nonebot[scheduler]==1.8.0
aiocqhttp~=1.4.4
aiohttp~=3.8.1
lxml>=4.9.1
pytz>=2019.3
tzdata>=2024.1
requests>=2.23.0
sogou_tr_free~=0.0.8
zhconv~=1.4.1
Pillow~=9.1.0
matplotlib>=3.3.0
numpy>=1.22.3
beautifulsoup4>=4.9.0
pygtrie>=2.3.3
tinydb>=4.1.1
peony-twitter[all]~=2.1.2
cloudscraper~=1.2.60
