<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
    <style>
        body {
            text-align: center;
            margin-top: 300px;
        }
    </style>
</head>
<body>
    <form action="/login" method="POST">
        <div>
            请输入密码:<input id="password" name="password" type="password" value="">
            <input type="submit" value="提交">
            <!-- <button onclick="submmit()" id="submmitBtn">确认</button> -->
        </div>  
    </form> 
</body>
</html>