<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>机器人设置</title>
    <style>
        a {
            text-decoration: none;
            font-size: large;
        }
        body {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>设置主页</h1>
    <div>
        <a href="http://{{ public_address }}:{{ port }}/group">按群管理</a>
    </div>
    <br>
    <div>
        <a href="http://{{ public_address }}:{{ port }}/service">按插件管理</a>
    </div>
</body>
</html>